name: Auto Commit

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Git
        run: |
          git config --global user.name "georgmichelle"
          git config --global user.email "geeg40283@gmail.com"

      - name: Generate commits
        run: |
          mkdir -p commits
          cd commits
          account_creation_date="2024-04-23"
          creation_timestamp=$(date -d "$account_creation_date" +%s)
          current_timestamp=$(date +%s)
          diff_seconds=$((current_timestamp - creation_timestamp))
          diff_days=$((diff_seconds / 86400))

          for day_offset in $(seq 0 $diff_days)
          do
            commit_day=$(($current_timestamp - $day_offset * 86400))
            commit_date=$(date -d @$commit_day +"%Y-%m-%d %H:%M:%S")
            
            for i in $(seq 1 440)
            do
              echo $RANDOM > "file_day_$day_offset_$i.txt"
              git add .
              GIT_COMMITTER_DATE="$commit_date" git commit --date "$commit_date" -m "Commit $i at $commit_date"
            done
          done

      - name: Push commits
        run: |
          git remote set-url origin https://$GH_TOKEN@github.com/georgmichelle/Geox-engine.git
          git push origin main
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
